body{
  
  margin: 0 ;
  padding: 0;
  background-image: url('./assets/PetrolPump.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 

}

.MuiAppBar-root{
  background-color: #2d2f32;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color:transparent;
  
}

body::-webkit-scrollbar {
  width: 8px;                     /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;         /* Transparent track background */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4A90E2, #9013FE);  /* Apply the gradient to the scrollbar thumb */
  border-radius: 10px;             /* Rounded corners for scrollbar thumb */
  border: 2px solid rgba(0, 0, 0, 0.1); /* Add a border to make the thumb more visible */
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #4A90E2, #7F00FF);  /* Gradient color when hovered */
}

body::-webkit-scrollbar-corner {
  background: transparent;  /* If there's a corner, make it transparent */
}
